doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-   body
//-     block content


// views/layout.pug
doctype html
html
  head
    title My Express App
  body
    block content
